body,
html {
    width: 100%;
    height: 100%;
}

body{
    
}

.bkg-color{
    background:url(Images/waves-in-sand-1.jpg) no-repeat;
    min-height: 640px;
    width:100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: darkslategrey;
}

.bs-example{
    margin: 20px
}

.navbar-nav {
      flex-direction: row;
    }
    
.nav-link {
      padding-right: .5rem !important;
      padding-left: .5rem !important;
      color:black;
    }
    
.ml-auto .dropdown-menu {
      left: auto !important;
      right: 0px;
}

.navbar-custom{
        background-color: rgba(219,225,206,0.8);
        color: white;
    }

.navbar-custom .navbar-brand
{
    color: darkslategrey;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
}  


.content{
    min-height:800px;
    
    color: #f8f8f8;
    position:relative;
    
}

#banner_image {
    padding-bottom: 50px;
    
}


footer {
    padding: 5px;
    padding-top:15px;
    background-color: whitesmoke;
    color:#9d9d9d;
    width: 100%;
}

.jumbotron{
    background-color: rgba(234, 230, 230, 0.9);
}

.alignment{
    width:50%;
    position: relative;
    color:darkslategrey;
    text-align: center;
    font-weight: bold;
}

.row{
    
    margin-bottom: 8%;
    text-align: center;
    
}


#card-con{
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 3%;
    color: white;
}

#titleintro{
    color:white;
}


.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  margin : 5%;
  top: 0;
}

#rowp{
    height: 100%;
    
}

#colm1{
    background-color: black;
    color: white;
}

.img-thumbnail {
    height:150px;
    width:150px;
    background: none;
    background-color: none;
}

.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  background: #1a1814;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #cda45e;
}

.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.8);
}

.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: #cda45e;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
  color: #fff;
}

#bg-img{
   background: url(Images/890855132.jpg) no-repeat;
   min-height: 900px;
}

#contact2{
    background-color: rgba(255,255,255,0.9);
}

hr{
    border: 1px solid;
}

img {
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

img:hover {
	cursor: pointer;
	-webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;
    }
    
    #home-bg{
        background: url(Images/intro_bg.png) no-repeat;
        background-size: cover;
    }

    #back{
        min-height: 800px;
        background-image: radial-gradient(circle, grey, black);
    }